<div class="flex flex-col items-center p-2">
    <div class="w-full max-w-md p-8 bg-sky-900 border rounded-2xl">
        <div class="flex flex-row justify-between items-center">
            <h1 class="text-2xl font-bold tracking-tight text-gray-900 text-white">{{ user.firstName }} {{ user.lastName
                }}</h1>
        </div>
        <div class="flex flex-col mt-4 bg-white max-w-md p-3 rounded-2xl shadow-2xl">
            <p class="text-gray-700 dark:text-gray-400">Roll No.: {{ user.rollno }}</p>
            <p class="text-gray-700 dark:text-gray-400">Section: {{ user.section }}</p>
            <p class="text-gray-700 dark:text-gray-400">Department: {{ user.department }}</p>
        </div>
    </div>

    <div class="w-full max-w-full p-4">
        <h2 class="text-2xl font-bold">My Posts</h2>
    </div>
    <div class="w-full max-w-full">
        <div *ngFor="let post of userPosts" class="p-4 border-b">
            <div class="flex flex-row justify-between items-center">
                <div class="flex">
                    <h1 class="text-2xl font-bold tracking-tight text-gray-900 p-4">{{ post.title }}</h1>
                    <div class="flex items-center gap-3 text-gray-700 dark:text-gray-400 ml-4">
                        <p>{{ post.postedOn.slice(0, 10) | date: 'dd/MM/yyyy' }}</p>
                        <p>{{ post.postedOn.slice(11, 16) }}</p>
                    </div>
                </div>
                <button class="text-red-600 hover:text-red-800">Delete</button>
            </div>
            <p class="text-gray-700 dark:text-gray-400 ml-5">{{ post.content }}</p>
        </div>
    </div>
</div>