<p>facultyprofile works!</p>
<div class="flex">
    <div>
        <img src="https://icon-library.com/images/default-profile-icon/default-profile-icon-24.jpg">
    </div>
    <!--<div class="p-3">
        <p class="font-bold text-2xl p-1 ">{{movieData.name}} <span class="text-sm font-medium italic ">{{movieData.release.substring(0,4)}}</span></p>
        <hr class=" p-2">
        <div class="flex justify-between">
            <div>
                <p class="font-bold text-lg p-1">Director <span class=" font-normal text-lg pl-3">{{movieData.directors}}</span> </p>
                <p class="font-bold text-lg p-1">Writer <span class=" font-normal pl-3 text-lg">{{movieData.writers}}</span> </p> 
                <p class="font-bold text-lg p-1">Cast <span class=" font-normal pl-3 text-lg">{{movieData.cast}}</span> </p>
                <p class="font-bold text-lg p-1">Language <span class=" font-normal pl-3 text-lg">{{movieData.language}}</span> </p>     
                <p class="font-bold text-lg p-1">Type <span class=" font-normal pl-3 text-lg">{{movieData.type.charAt(0).toUpperCase() + movieData.type.slice(1)}}</span> </p> 
                <div *ngIf="this.movieData.type=='series'">
                    <p class="font-bold text-xl p-1">Seasons <span class=" font-normal pl-3 text-lg">{{movieData.seasons}}</span> </p>
                </div>
                <p class="font-bold text-lg p-1">Genres <span class=" font-normal pl-3 text-lg">{{movieData.genres}}</span> </p> 
            </div>
            <div class="mr-40 text-3xl font-bold ">
                <div class="underline underline-offset-4 decoration-3">Rating</div>
                <div *ngIf="this.movieData.avgRating==null else elseBlock3">
                    <div class="text-center">N/A</div>
                </div>
                <ng-template #elseBlock3>
                    <div class="text-center">{{movieData.avgRating}}/10</div>
                </ng-template>
                
            </div>
        </div>
    </div>-->
</div>
