
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<body class="h-screen">
    <div class="w-screen grid grid-cols-7 h-auto">
        <div class="bg-sky-950 text-white h-full w-full grid justify-center">
            <img src="assets/img/cvr.png" alt="" class="h-28 w-28">
        </div>
        <div class="col-span-5 bg-sky-950  text-white flex flex-col gap-2">
            <div class="flex justify-center m-2">
                ET Department
            </div>
            <hr class="text-white">
            <div class="flex justify-around items-center m-2">
                <div class="nav-comp" routerLink="/home">HOME</div>
                <div ngbDropdown class="dropdown nav-comp relative">
                    <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false" id="dd">
                        BRANCHES
                    </button>
                    <ul ngbDropdownMenu class="dropdown-menu mt-0">
                        <li ngbDropdownItem><a class="dropdown-item" href="#" routerLink="/csit">CSIT</a></li>
                        <li ngbDropdownItem><a class="dropdown-item" href="#" routerLink="/aiml">AI/ML</a></li>
                        <li ngbDropdownItem><a class="dropdown-item" href="#" routerLink="/datascience">Data Science</a>
                        </li>
                        <li ngbDropdownItem><a class="dropdown-item" href="#" routerLink="/cybersecurity">Cyber
                                Security</a></li>
                    </ul>
                </div>
                <div class="nav-comp" routerLink="/infrastruture">INFRASTRUCTURE</div>
                <div class="nav-comp" routerLink="/faculty">FACULTY</div>
                <div *ngIf="this.helper.loggedIn(); else elseBlock">
                    <div class="nav-comp" routerLink="/userforum">STUDENTS FORUM</div>
                </div>
                <ng-template #elseBlock>
                    <div class="nav-comp" routerLink="/forum">STUDENTS FORUM</div>
                </ng-template>
                <div class="nav-comp" routerLink="/studentsclub">STUDENTS CLUB</div>
                <div ngbDropdown class="dropdown nav-comp relative">
                    <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false" id="dd">
                        CONTACT
                    </button>
                    <ul ngbDropdownMenu class="dropdown-menu mt-0">
                        <li ngbDropdownItem><a class="dropdown-item" href="#">Contact Us</a></li>
                        <li ngbDropdownItem><a class="dropdown-item" href="#" routerLink="/developers">Development
                                Team</a></li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="bg-sky-950 flex justify-center">
            <div class="clock m-auto">
                <div class="hour" id="hour"></div>
                <div class="minute" id="minute"></div>
                <div class="second" id="second"></div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>

    <footer class="bg-sky-950 mt-0 text-white  p-4 flex justify-evenly bottom-0 w-screen" id="f-wrapper">
        <div id="f-text" class="text-center">
            <p>Department of Emerging Technologies</p>
            <p>Copyright&#169;2023</p>
        </div>
        <div>
            <p>CVR College of Engineering</p>
            <p>(An UGC Autonomous Institution with NAAC 'A' Grade, Affiliated To JNTUH)</p>
            <p>Vastunagar, Mangalpalli (V), Ibrahimpatan (M), R.R. District, Telangana</p>
        </div>
    </footer>
</body>