<!-- <div class="wrapper">
  <!header starts here -->
  <header id="header" class="">
    <!-- header -->
    <div class="header-wrapper">
        <div class="header-container">
            <div>
                <div class="logo-name">
                    <div class="logo">
                        <a href="" title=""><img src="https://pbs.twimg.com/profile_images/1482758580634005506/SvUki-Xz_400x400.jpg" alt=""></a>
                    </div>
                    <div class="name">
                        <a href="" title="">
                            <h5>CVR College of Engineering</h5>
                            <h5 class="primary-color">Department of Emerging Technologies</h5>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="header-links">
                <a id="loc_icon" href="#" data-toggle="popover" title="Address" data-content="c/o Block No.9 (IC Department), Government Engineering College, Sector-28, Gandhinagar, Gujarat - 382028" data-placement="bottom"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i></a>
                <a id="phone_icon" href="#" data-toggle="popover" title="Phone No." data-content="+91-79-29750281" data-placement="bottom"><i class="fa fa-phone fa-lg" aria-hidden="true"></i></a>
                <a id="email_icon" href="#" data-toggle="popover" title="Email" data-content="helpdesk@iiitvadodara.ac.in" data-placement="bottom"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>

            </div> -->
        </div>
    </div>
    <!-- <div class="navbar">
      <a href="#home">Home</a>
      <a href="#news">News</a>
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>  -->
      <div class="navbar">
        <div class="nav-comp" routerLink="/home">
            Home
        </div>
        <div ngbDropdown class="dropdown nav-comp">
            <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dd">
                Branches
            </button>
            <ul ngbDropdownMenu class="dropdown-menu">
                <li ngbDropdownItem><a class="dropdown-item" href="#" routerLink="/csit">CSIT</a></li>
                <li ngbDropdownItem><a class="dropdown-item" href="#" routerLink="/aiml">AI/ML</a></li>
                <li ngbDropdownItem><a class="dropdown-item" href="#" routerLink="/datascience">Data Science</a></li>
                <li ngbDropdownItem><a class="dropdown-item" href="#" routerLink="/cybersecurity">Cyber Security</a></li>
            </ul>
        </div>
        <div class="nav-comp" routerLink="/infrastruture">
            Infrastructure
        </div>
        <div class="nav-comp" routerLink="/faculty">
            Faculty
        </div>
        <div class="nav-comp">
            Students Forum
        </div>
        <div class="nav-comp">
            Student Club
        </div>
        <div ngbDropdown class="dropdown nav-comp">
            <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dd">
                Contact
            </button>
            <ul ngbDropdownMenu class="dropdown-menu">
                <li ngbDropdownItem><a class="dropdown-item" href="#">Contact Us</a></li>
                <li ngbDropdownItem><a class="dropdown-item" href="#">Development Team</a></li>
            </ul>
        </div>

      </div>

  <router-outlet></router-outlet>
      


<!--Vision
To evolve as a Center of Excellence in emerging areas, impart quality education to produce ethical, motivated and skilled professionals to meet the ever-increasing technological & social challenges.

 

Mission
M1: To impart students with self-discipline, hard work, all-round personality development and creative problem-solving approach.

M2: To provide quality-education by using the latest infrastructure and nurturing collaborative culture.

M3: To provide students an opportunity to learn both foundational and experimental components in emerging areas.

M4: To promote and nurture the spirit of innovation and entrepreneurship in our students.

M5: To emerge as a Center of Excellence through Research, Consultancy and Development Activities.-->

<footer class="bg-[#0F6C6B] mt-0 text-white  p-4 flex justify-evenly bottom-0" id="f-wrapper">
    <div id="f-text" class="text-center">
        <p>Department of Emerging Technologies</p>
        <p>Copyright&#169;2023</p>
    </div>    
    <div >
        <p>CVR College of Engineering</p>
        <p>(An UGC Autonomous Institution with NAAC 'A' Grade, Affiliated To JNTUH)</p>
        <p>Vastunagar, Mangalpalli (V), Ibrahimpatan (M), R.R. District, Telangana</p>
    </div>
</footer>