<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/lab1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/img/lab2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/img/lab3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<table class=" border border-solid mt-4 mb-4 ml-80 shadow-xl" id="infra-table">
  <tr class="p-3">
      <td class="font-bold p-3">
          Number of Labs
      </td>
      <td>
          8
      </td>
  </tr>
  <tr class="">
      <td class="font-bold p-6">
          Equipment
      </td>
      <td>
          <ul>
              <li>ACER desktops with LED monitors</li>
              <li>LCD SONY projectors</li>
              <li>Wi-Fi routers</li>
              <li>HP LaserJet  printers</li>
          </ul>
      </td>
  </tr>
  <tr class="p-3">
      <td class="font-bold p-3">
          Software
      </td>
      <td>
        <ul>
          <li>All Microsoft software (through Microsoft Imagine subscription)</li>
          <li>All Oracle software (through Oracle Academy membership)</li>
          <li>Various flavors of Linux</li>
          <li>RFID equipment</li>
          <li>Office Suite Libre Office 5.0</li>
          <li>Python 3.8</li>
          <li>R Studio 3.6 and Development Tools Java 1.7</li>
          <li>Eclipse Kepler</li>
      </ul>
  </td>
  
</tr>
</table>
<h1 class="text-center">Lab 1 & 2</h1>
<table class=" border border-solid mt-4 mb-4 ml-80 shadow-xl" id="infra-table">
<tr class="p-3">
  <td class="font-bold p-3">
      S.No
  </td>
  <td class="font-bold p-3">
      PARTICULARS
  </td>
  <td class="font-bold p-3">
      SECIFICATIONS
  </td>
</tr>
<tr>
  <td class="font-bold p-3">
    1
  </td>
  <td class="font-bold p-3">
    WORKSTATIONS
  </td>
  <td class="p-3">
    <ul>
      <li>ACER Veriton Intel Pentium Dual Core G5400</li>
      <li>Processor,4GB DDR4 2400MHz RAM,</li>
      <li>1 TB SATA HDD, ACER PS/2 keyboard</li>
      <li>and Mouse with ACER 18.5’ LED Monitor.</li>
    </ul>
  </td>
</tr>
</table>
<h1 class="text-center">Lab 3 & 4</h1>
<table class=" border border-solid mt-4 mb-4 ml-80 shadow-xl" id="infra-table">
<tr class="p-3">
  <td class="font-bold p-3">
      S.No
  </td>
  <td class="font-bold p-3">
      PARTICULARS
  </td>
  <td class="font-bold p-3">
      SECIFICATIONS
  </td>
</tr>
<tr>
  <td class="font-bold p-3">
    1
</td>
<td class="font-bold p-3">
  WORKSTATIONS
</td>
<td class="p-3">
  <ul>
    <li>AACER Veriton Intel Core i3-8100 Processor,</li>
    <li>8GB DDR4 2400MHz RAM, 1 TB SATA HDD,</li>
    <li>ACER PS/2 keyboard and Mouse with</li>
    <li>ACER18.5’ LED Monitor.</li>
  </ul>
</td>
</tr>
</table>
<h1 class="text-center">Lab 5 , 6 , 7 , 8</h1>
<table class=" border border-solid mt-4 mb-4 ml-80 shadow-xl" id="infra-table">
<tr class="p-3">
  <td class="font-bold p-3">
      S.No
  </td>
  <td class="font-bold p-3">
      PARTICULARS
  </td>
  <td class="font-bold p-3">
      SECIFICATIONS
  </td>
</tr>
<tr>
  <td class="font-bold p-3">
    1
</td>

  <td class="font-bold p-3">
    WORKSTATIONS
  </td>
  <td class="p-3">
    <ul>
      <li>Acer Veriton M200 Intel Pentium Dual core </li>
      <li>Processor,8GB DDR4  4.10 GHz RAM, </li>
      <li>256GB SSD, Acer PS/2 USB Keyboard and USB </li>
      <li>Optical Mouse with ACER 18.5’ LED Monitor.</li>
    </ul>
  </td>
</tr>
</table>
<h1 class="text-center">Lab 9 & 10</h1>
<table class=" border border-solid mt-4 mb-4 ml-80 shadow-xl" id="infra-table">
<tr class="p-3">
    <td class="font-bold p-3">
        S.No
    </td>
    <td class="font-bold p-3">
        PARTICULARS
    </td>
    <td class="font-bold p-3">
        SECIFICATIONS
    </td>
  </tr>
  <tr>
    <td class="font-bold p-3">
        1
    </td>
    <td class="font-bold p-3">
      WORKSTATIONS
    </td>
    <td class="p-3">
      <ul>
        <li>Lenovo Neo 50T 12th Gen Intel®</li>
        <li>Core(TM) i5-12400 2.50 GHz Processor,</li>
        <li>8GB DDR4 RAM, 512GB SSD, USB Keyboard </li>
        <li>and Mouse with Lenovo 21.5’ Monitor.</li>
      </ul>
    </td>
  </tr>
</table>
<h1 class="text-center">Lab 11 & 12</h1>
<table class=" border border-solid mt-4 mb-4 ml-80 shadow-xl" id="infra-table">
  <tr class="p-3">
      <td class="font-bold p-3">
          S.No
      </td>
      <td class="font-bold p-3">
          PARTICULARS
      </td>
      <td class="font-bold p-3">
          SECIFICATIONS
      </td>
    </tr>
    <tr>
      <td class="font-bold p-3">
          1
      </td>
      <td class="font-bold p-3">
        WORKSTATIONS
      </td>
      <td class="p-3">
        <ul>
          <li>Intel Pentium Gold G6405 Processor, 8GB DDR4 </li>
          <li>4.10GHz RAM, 500GB SSD, USB Keyboard and </li>
          <li>Mouse with Samsung 22’ LED Monitor.</li>
        </ul>
      </td>
    </tr>
        </table>