<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/lab1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/lab2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/lab3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <table class=" border border-solid mt-4 mb-4 ml-80 " id="infra-table">
    <tr class="p-3">
        <td class="font-bold p-3">
            Number of Labs
        </td>
        <td>
            4
        </td>
    </tr>
    <tr class="">
        <td class="font-bold p-6">
            Equipment
        </td>
        <td>
            <ul>
                <li>ACER desktops with LED monitors</li>
                <li>LCD SONY projectors</li>
                <li>Wi-Fi routers</li>
                <li>HP LaserJet  printers</li>
            </ul>
        </td>
    </tr>
    <tr class="p-3">
        <td class="font-bold p-3">
            Software
        </td>
        <td>
            <ul>
                <li>All Microsoft software (through Microsoft Imagine subscription)</li>
                <li>All Oracle software (through Oracle Academy membership)</li>
                <li>Various flavors of Linux</li>
                <li>RFID equipment</li>
                <li>Office Suite Libre Office 5.0</li>
                <li>Python 3.8</li>
                <li>R Studio 3.6 and Development Tools Java 1.7</li>
                <li>Eclipse Kepler</li>
            </ul>
        </td>
        
    </tr>
  </table>