<div>
    <div class="text-center p-3">
        <p class="font-bold text-3xl m-auto text-[#0C134F]">Students Forum</p>
    </div>
    <div class="relative inline-block text-left flex justify-center"> <button (click)="toggleDropdown()"
            class="flex items-center space-x-2 p-2 rounded-full bg-sky-900 text-white">
            <div class="w-20 h-8 rounded-full overflow-hidden">
                <div class="text-white pt-1 pl-1">{{ userData.firstName }}</div>
            </div>
            <span>&#9662;</span>
        </button>

        <div *ngIf="isDropdownOpen"
            class="origin-top-right absolute  mt-14 w-40 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
            <div class="py-1 flex flex-col justify-center" role="menu" aria-orientation="vertical"
                aria-labelledby="options-menu">
                <button class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                    role="menuitem" routerLink="/profile/{{userData.rollno}}">Profile</button>
                <button (click)="logout()"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                    role="menuitem">Logout</button>
            </div>
        </div>
    </div>

    <div class="flex p-3 justify-center items-start">
        <div class="w-4/5 p-3">
            <form [formGroup]="postForm" class="bg-white shadow-md rounded p-2 flex flex-col justify-center"
                (ngSubmit)="post()">
                <input type="text" placeholder="Enter title" class="form-control mb-4" formControlName="title">
                <input type="text" placeholder="Enter body" class="form-control mb-4" formControlName="content">
                <button><a class="text-xl bg-sky-900 text-white p-2 rounded-lg mt-0 m-2">Post</a></button>
            </form>
            <p class="text-3xl font-bold ml-8 p-2 text-[#0C134F]">Posts</p>
            <div class="">
                <div *ngFor="let post of posts.reverse() | paginate: {id:'listing_pagination', itemsPerPage:5, currentPage:page, totalItems:totalRecords}"
                    class="shadow-md m-3 rounded-lg" id="post-box">
                    <div class="flex bg-sky-900 p-2 rounded-t-lg">
                        <div class=" text-white text-xl font-semibold p-2" id="post-title">{{ post.title }}</div>
                        <div class="text-sm font-light p-2 mt-1.5  text-white">&#x2022; by {{ post.postedBy }} on {{
                            post.postedOn.slice(11,16) }}, {{ post.postedOn.slice(0,10) | date: 'dd/MM/yyyy' }}</div>
                    </div>
                    <div class="text-md p-1 ml-3 bg-slate-200 rounded-bl-lg p-3">{{ post.content }}</div>
                    <div class="flex justify-end">
                        <div class="flex justify-end p-2">
                            <a class="text-sm text-white bg-sky-900 p-1 rounded-md" id="comment-btn"
                                routerLink="/comment/{{ post._id }}">Comment</a>
                        </div>
                        <div class="flex justify-end p-2" *ngIf="post.postedBy==this.userData.rollno">
                            <a class="text-sm p-1  text-red-900 cursor-pointer hover:bg-red-900 hover:text-white rounded-lg" id="comment-btn" (click)="deletePost(post._id)">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center">
                    <pagination-controls id="listing_pagination" previousLabel="Prev" nextLabel="Next"
                        (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>