<h1 class="text-5xl text-center text-[#0C134F] font-bold p-8">Core committee</h1>
<div class="flex justify-evenly p-8">
    <img src="assets/img/facutly.webp" class="h-96 w-96" alt=""/>
    <img src="assets/img/core.jpeg" class="h-96 w-96" alt=""/>
</div>


  
<h1 class="text-5xl text-center text-[#0C134F] font-bold p-8">Events</h1>

<div
  id="carouselExampleAutoplaying2"
  class="carousel slide p-8"
  data-bs-ride="carousel"
>

  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="flex justify-center">
            <img src="assets/img/event1.webp" class="d-block w-96 h-96 p-50" alt="..." />
        </div>
    </div>
    <div class="carousel-item">
        <div class="flex justify-center">
            <img src="assets/img/event2.jpeg" class="d-block w-96 h-96 p-50" alt="..." />
        </div>
    
    </div>
    <div class="carousel-item">
        <div class="flex justify-center">
            <img src="assets/img/event3.jpeg" class="d-block w-96 h-96 p-50" alt="..." />
        </div>
    
    </div>
    <div class="carousel-item">
        <div class="flex justify-center">
            <img src="assets/img/event4.jpeg" class="d-block w-96 h-96 p-50" alt="..." />
        </div>
    
    </div>
    <div class="carousel-item ">
        <div class="flex justify-center">
            <img src="assets/img/outreach1.jpeg" class="d-block w-96 h-96 p-50" alt="..." />
        </div>
    </div>
    <div class="carousel-item">
        <div class="flex justify-center">
            <img src="assets/img/outreach2.jpeg" class="d-block w-96 h-96 p-50" alt="..." />
        </div>

    </div>
    <div class="carousel-item">
        <div class="flex justify-center">
            <img src="assets/img/outreach3.jpeg" class="d-block w-96 h-96 p-50" alt="..." />
        </div>

    </div>
    <div class="carousel-item">
        <div class="flex justify-center">
            <img src="assets/img/outreach4.jpeg" class="d-block w-96 h-96 p-50" alt="..." />
        </div>

    </div>
    <div class="carousel-item">
        <div class="flex justify-center">
            <img src="assets/img/outreach4.webp" class="d-block w-96 h-96 p-50" alt="..." />
        </div>

    </div>
    <div class="carousel-item">
        <div class="flex justify-center">
            <img src="assets/img/outreach5.jpeg" class="d-block w-96 h-96 p-50" alt="..." />
        </div>

    </div>
    <div class="carousel-item">
        <div class="flex justify-center">
            <img src="assets/img/outreach6.jpeg" class="d-block w-96 h-96 p-50" alt="..." />
        </div>

    </div>
    <div class="carousel-item">
        <div class="flex justify-center">
            <img src="assets/img/outreach7.jpeg" class="d-block w-96 h-96 p-50" alt="..." />
        </div>

    </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying2"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon bg-black" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying2"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon bg-black" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>







  