<!-- Core Committee Section -->
<h1 class="text-5xl text-center text-[#0C134F] font-bold p-8">Core Committee</h1>
<div class="flex justify-center p-8">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <img src="assets/img/faculty.png" class="h-96 w-96" alt="Faculty Image" />
    </div>
    <div class="bg-white shadow-lg rounded-lg overflow-hidden ml-4">
        <img src="assets/img/core.jpeg" class="h-96 w-96" alt="Core Committee Image" />
    </div>
</div>

<!-- Events Section -->
<h1 class="text-5xl text-center text-[#0C134F] font-bold p-8">Events</h1>
<div id="carouselExampleAutoplaying2" class="carousel slide p-8" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="flex justify-center">
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <img src="assets/img/event1.webp" class="w-96 h-96" alt="Event 1" />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="flex justify-center">
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <img src="assets/img/event2.jpeg" class="w-96 h-96" alt="Event 2" />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="flex justify-center">
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <img src="assets/img/event3.jpeg" class="w-96 h-96" alt="Event 3" />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="flex justify-center">
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <img src="assets/img/event4.jpeg" class="w-96 h-96" alt="Event 4" />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="flex justify-center">
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <img src="assets/img/outreach1.jpeg" class="w-96 h-96" alt="Outreach 1" />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="flex justify-center">
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <img src="assets/img/outreach2.jpeg" class="w-96 h-96" alt="Outreach 2" />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="flex justify-center">
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <img src="assets/img/outreach3.jpeg" class="w-96 h-96" alt="Outreach 3" />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="flex justify-center">
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <img src="assets/img/outreach4.jpeg" class="w-96 h-96" alt="Outreach 4" />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="flex justify-center">
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <img src="assets/img/outreach4.webp" class="w-96 h-96" alt="Outreach 5" />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="flex justify-center">
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <img src="assets/img/outreach5.jpeg" class="w-96 h-96" alt="Outreach 5" />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="flex justify-center">
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <img src="assets/img/outreach6.jpeg" class="w-96 h-96" alt="Outreach 6" />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="flex justify-center">
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <img src="assets/img/outreach7.jpeg" class="w-96 h-96" alt="Outreach 7" />
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying2"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-black" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying2"
        data-bs-slide="next">
        <span class="carousel-control-next-icon bg-black" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>