<div class=" p-4">
    <div class="" id="csit-logo">
        <img src="assets/img/csit.png" >
    </div>
    <div class="text-center mb-3">
        <p class="font-bold text-2xl underline underline-offset-4">CSIT Department</p>
    </div>
    <div  id="csit-cs" class="text-center mt-4 mb-3 underline underline-offset-2">
        <a href="https://cvr.ac.in/home4/files/csit/CSIT%20Course%20Structure.pdf" class="text-xl text-blue-700">Course Structure</a>
    </div>
    <div class="m-auto border border-green-500 p-3 rounded-sm shadow-lg text-lg" id="csit-desc">
        <p>The Computer Science and Information Technology (CSIT) Department at CVR College of Engineering is a dynamic and innovative department that offers cutting-edge programs in computer science, information technology, and related fields. The department is committed to providing students with a rigorous and comprehensive education that prepares them for a wide range of career opportunities in the fast-paced and constantly evolving field of computing.</p>
        <br><p>The CSIT Department boasts a team of highly qualified and experienced faculty members who are dedicated to delivering a world-class education to students. They have a deep understanding of the latest technologies and trends in the field of computing and are committed to keeping their knowledge and skills up-to-date through ongoing professional development.</p>
        <br><p>The department offers a range of specialized courses and certification programs in areas such as artificial intelligence, machine learning, cybersecurity, and data analytics.</p>
        <br><p>The CSIT Department also provides students with a range of opportunities to gain practical experience and develop their skills through internships, research projects, and industry collaborations. The department has established partnerships with leading companies and organizations in the technology industry, providing students with opportunities to work on real-world projects and gain exposure to the latest technologies and trends.</p>
        <br><p>Overall, the CSIT Department at CVR College of Engineering is committed to providing students with a world-class education in computer science and information technology and preparing them for successful careers in a rapidly evolving field.</p>
    </div>

    
</div>

<!-- The Computer Science and Information Technology (CSIT) Department at CVR College of Engineering is a dynamic and innovative department that offers cutting-edge programs in computer science, information technology, and related fields. The department is committed to providing students with a rigorous and comprehensive education that prepares them for a wide range of career opportunities in the fast-paced and constantly evolving field of computing.

The CSIT Department boasts a team of highly qualified and experienced faculty members who are dedicated to delivering a world-class education to students. They have a deep understanding of the latest technologies and trends in the field of computing and are committed to keeping their knowledge and skills up-to-date through ongoing professional development.

The department offers a wide range of degree programs, including Bachelor of Technology (B.Tech) in Computer Science and Engineering, Bachelor of Technology (B.Tech) in Information Technology, Master of Technology (M.Tech) in Computer Science and Engineering, and Master of Technology (M.Tech) in Information Technology. In addition, the department offers a range of specialized courses and certification programs in areas such as artificial intelligence, machine learning, cybersecurity, and data analytics.

The CSIT Department also provides students with a range of opportunities to gain practical experience and develop their skills through internships, research projects, and industry collaborations. The department has established partnerships with leading companies and organizations in the technology industry, providing students with opportunities to work on real-world projects and gain exposure to the latest technologies and trends.

Overall, the CSIT Department at CVR College of Engineering is committed to providing students with a world-class education in computer science and information technology and preparing them for successful careers in a rapidly evolving field. -->