<div class=" p-4">
    <div class="" id="csit-logo">
        <img src="assets/img/csit.png" >
    </div>
    <div class="text-center mb-3">
        <p class="font-bold text-2xl underline underline-offset-4">AIML Department</p>
    </div>
    <div  id="csit-cs" class="text-center mt-4 mb-3 underline underline-offset-2">
        <a href="https://cvr.ac.in/home4/files/csit/CSIT%20Course%20Structure.pdf" class="text-xl text-blue-700">Course Structure</a>
    </div>
    <div class="m-auto border border-green-500 p-3 rounded-sm shadow-lg text-lg" id="csit-desc">
        <p>Welcome to the AIML (Artificial Intelligence and Machine Learning) Department website! Our department is dedicated to exploring and advancing the cutting-edge fields of AI and machine learning, with the aim of developing intelligent systems and algorithms that can tackle some of the world's most pressing challenges.</p>
        <br><p>Our department offers a range of undergraduate and graduate courses in AI and machine learning, providing students with a solid foundation in the theory and practical applications of these fields. Our faculty are leading experts in AI and machine learning, with extensive research and industry experience, and are dedicated to mentoring and guiding students towards success. Our courses are designed to challenge students to think creatively and to develop innovative solutions to complex problems.</p>
        <br><p>In addition to our academic programs, our department is actively engaged in research in various areas of AI and machine learning, such as natural language processing, computer vision, and deep learning. Our research projects are aimed at developing innovative solutions to some of the most challenging problems facing our world, such as healthcare, environmental sustainability, and cybersecurity.</p>
        <br><p>Our department also maintains strong ties with industry partners, collaborating with leading companies to develop practical applications of AI and machine learning. Through these partnerships, our students have the opportunity to work on real-world projects, gaining valuable hands-on experience and building industry connections.</p>
        <br><p>Whether you are a student looking to pursue a career in AI and machine learning or an industry partner seeking to collaborate with experts in the field, we invite you to explore our website and learn more about our department. We are committed to advancing the frontiers of AI and machine learning, and to preparing the next generation of leaders in this exciting and rapidly evolving field.</p>
    </div>
</div>