<div class=" p-4">
    <div  id="cs-logo">
        <img src="assets/img/cyber-security.png" class="h-16" >
    </div>
    <div class="text-center mb-3">
        <p class="font-bold text-2xl underline underline-offset-4">Cyber Security Department</p>
    </div>
    <!-- <div  id="csit-cs" class="text-center mt-4 mb-3 underline underline-offset-2">
        <a href="https://cvr.ac.in/home4/files/csit/CSIT%20Course%20Structure.pdf" class="text-xl text-blue-700">Course Structure</a>
    </div> -->
    <div class="m-auto border border-green-500 p-3 rounded-sm shadow-lg text-lg" id="cs-desc">
        <p>
            CVR College of Engineering offers a cutting-edge Cyber Security program that prepares students to become highly skilled professionals in the field of cybersecurity. The program is designed to provide students with a solid foundation in information security concepts, tools, and techniques, as well as hands-on experience in applying these skills to real-world scenarios.</p>
        <br><p>The program covers a wide range of topics including network security, cryptography, ethical hacking, cybercrime investigation, and digital forensics. The curriculum is regularly updated to keep pace with the latest developments in the field of cybersecurity, ensuring that students are well-equipped to tackle the ever-evolving threat landscape.</p>
        <br><p>Students in the Cyber Security program at CVR College of Engineering have access to state-of-the-art facilities including a dedicated cybersecurity lab equipped with advanced software tools and hardware systems. They also benefit from the guidance of experienced faculty members who are experts in the field of cybersecurity and bring with them years of industry experience.</p>
        <br><p>Graduates of the Cyber Security program are well-prepared to pursue a variety of career paths in industries such as finance, healthcare, government, and technology. They have the skills necessary to protect critical information assets from cyber threats, identify vulnerabilities, and implement effective security controls to mitigate risks. Additionally, they are equipped with the knowledge and expertise to develop innovative solutions to address the unique challenges faced by businesses in today's digital landscape.</p>
        <br><p>Overall, the Cyber Security program at CVR College of Engineering provides students with a comprehensive education in the field of cybersecurity, preparing them for exciting and rewarding careers in one of the fastest-growing industries today.</p>
    </div>
</div>

