<div class=" p-4">
    <div  id="ds-logo" class="flex justify-evenly">
        <img src="assets/img/data-science.png" class="h-16" >
    </div>
    <div class="text-center mb-3">
        <p class="font-extrabold text-3xl text-[#0C134f]">Data Science Department</p>
    </div>
    <!-- <div  id="csit-cs" class="text-center mt-4 mb-3 underline underline-offset-2">
        <a href="https://cvr.ac.in/home4/files/csit/CSIT%20Course%20Structure.pdf" class="text-xl text-blue-700">Course Structure</a>
    </div> -->
    <div class="m-auto border border-green-500 p-3 rounded-sm shadow-lg text-lg" id="ds-desc">
        <p>CVR College of Engineering offers a comprehensive Data Science program that equips students with the necessary knowledge and skills to become proficient data scientists. The program is designed to provide a deep understanding of data science concepts, tools, and techniques, as well as practical experience in applying these skills to real-world problems.</p>
        <br><p>The program covers a wide range of topics including data analysis and visualization, statistical methods, machine learning, big data technologies, and data engineering. The curriculum is updated regularly to keep up with the latest advancements in the field of data science, ensuring that students are well-prepared to tackle the challenges of the rapidly evolving industry.</p>
        <br><p>Students in the Data Science program at CVR College of Engineering have access to state-of-the-art facilities including a dedicated data science lab equipped with high-performance computing systems and advanced software tools. They also benefit from the guidance of experienced faculty members who are experts in the field of data science and bring with them years of industry experience.</p>
        <br><p>Graduates of the Data Science program are well-prepared to pursue a variety of career paths in industries such as finance, healthcare, marketing, and technology. They have the skills necessary to analyze complex data sets, identify patterns and trends, and make data-driven decisions that can help organizations achieve their goals. Additionally, they are equipped with the knowledge and expertise to develop innovative solutions to address the unique challenges faced by businesses in today's data-driven economy.</p>
    </div>
</div>
