<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet"> 


<div class="flex items-center p-4 space-x-4">
    <div *ngFor="let faculty of this.facultyList" class="bg-white w-60 m-4 rounded-md overflow-hidden shadow-md">
        <img src="{{faculty.picture}}" alt="Faculty Picture" class="w-60 h-auto max-h-56 object-cover rounded-t-md">
        <div class="p-4">
            <div class="text-xl font-semibold text-gray-800">{{faculty.firstName}}</div>
            <div class="text-sm text-gray-600">{{faculty.designation}}</div>
            <div class="text-blue-500 mt-2">
                <a href="mailto:{{faculty.email}}"></a>
            </div>
        </div>
    </div>
</div>
