<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet"> 

<body >

    <div class="flex flex-col p-3 items-center min-h-screen">
        <div class="text-lg text-center text-[#FFFFFF] font-semibold">FACULTY LIST</div>
        <div class="p-4">
            <div class="grid grid-cols-4 justify-around gap-5   font-semibold">
                <div *ngFor="let faculty of this.facultyList">
                    <div class="">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top h-60 w-56 rounded-ms hover:brightness-125" src="{{this.faculty.picture}}" alt="Faculty Picture">
                            <div class="card-body">
                              <h5 class="card-title text-center text-2xl">{{faculty.firstName}}</h5>
                              <h6 class="card-text text-center  details" >{{faculty.designation}}</h6>
                              <hr>
                              <div class="flex justify-center">
                              <button class="button items-center  font-normal"><a class="text bg-[#0C134F] text-white p-2 rounded-lg mt-0 ">View Profile</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</body>



