<div>
    <div class="text-center p-3">
        <p class="font-bold text-2xl underline underline-offset-4 m-auto">Students Forum</p>
    </div>
    <div class="flex p-3 justify-center items-start">
        <div *ngIf="!this.getToken(); else elseBlock" class="text-center w-1/5 p-3 shadow-lg h-1/6 mt-4 ">
            <div  class="m-0 p-0">
                <p class="text-2xl font-bold">Login to post</p>
            </div>
            <div class="pt-4">
                <form action="" [formGroup]="loginForm" (ngSubmit)="loginStudent()">
                    <input type="text" placeholder="Enter College ID" class="m-1  border-black border-2 p-1 rounded-md" formControlName="rollno">
                    <input type="password" placeholder="Enter Password " class="  border-black border-2 p-1 rounded-md" formControlName="password">
                    <br>
                    <br>
                    <button class="button"><a class="text-xl bg-[#0F6C6B] text-white p-2 rounded-lg mt-0">Login</a></button>
                </form>
                
            </div>
           
        </div>
        <ng-template #elseBlock>
            <div>
                <p>Logged in as {{this.userData.rollno}}</p>
                <p (click)="logout()">Logout</p>
            </div>
        </ng-template>
        <div class="w-4/5 p-3">

            <div *ngIf="this.getToken()">
                <form [formGroup]="postForm" class="p-2 shadow-lg" (ngSubmit)="post()">
                    <input type="text" placeholder="Enter title" class="h-8 border border-black w-2/3" formControlName="title"><br><br>
                    <input type="text" placeholder="Enter body" class="h-32 border border-black  w-2/3" formControlName="content"><br> <br>
                    <button><a class="text-xl bg-[#0F6C6B] text-white p-2 rounded-lg mt-0">Post</a></button>
                </form>
            </div>
            <p class="text-2xl font-bold underline ml-8 p-2">Posts</p>
            <div class="shadow-lg">
                <div *ngFor="let post of posts.reverse()" class=" p-3" id="post-box">
                    <div class="flex">
                        <div class="text-xl font-semibold p-2" id="post-title">{{post.title}}</div>
                        <div class="text-sm font-light p-2 mt-1.5">&#x2022; by {{post.postedBy}} on {{post.postedOn.slice(11,16)}}, {{post.postedOn.slice(0,10) |  date: 'dd/MM/yyyy'}}</div>

                    </div>
                    <div class="text-md p-1 ml-3">{{post.content}}</div>
                    <div class="mb-0 ml-4 pt-2">
                        <a class="text-sm text-white underline bg-[#0F6C6B] p-1 mt-6 rounded-md" id="comment-btn">Comment</a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>
