.underline{
    text-decoration-color:#0C134F;
}
#post-box{
    
}
#comment-btn{
    text-decoration-color:rgb(29 78 216 / var(--tw-text-opacity));
};

.body{
    font-family: Montserrat;
}

.link{
    font-weight: 100;
}
